services:
  caddy:
    environment:
      SERVER_NAME: ${SERVER_NAME:-abel-brien.localhost}
      CADDY_GLOBAL_OPTIONS: |
        debug
        local_certs

  frontend:
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/dist
      - .env.dev:/app/.env
    command: npm run dev

  backend:
    volumes:
      - .env.dev:/app/.env
    environment:
      DEBUG: express:*
    command: node --watch app.js

  umami:
    environment:
      DEBUG: umami:*
      DISABLE_TELEMETRY: 1
      DISABLE_LOGIN: 1
      LOG_QUERY: 1

  homepage:
    environment:
      - PUID=1000
      - PGID=127
    volumes:
      - .env.dev:/app/.env

  docusaurus:
    environment:
      DEBUG: search-local:*
    volumes:
      - ./docusaurus/Wiki:/opt/docusaurus
      - ./docs/personal-site:/opt/docusaurus/docs/personal-site
    command: npm run start -- --host 0.0.0.0 --poll 1000
    
  immich:
    env_file: ".env.dev"
    environment:
      - UPLOAD_LOCATION:./immich/library
    volumes:
      - .env.dev:/app/.env
      - ./immich/library:/data

  directus:
    env_file: ".env.dev"
    volumes:
      - ./directus:/directus
      - /directus/node_modules
    command: >
      sh -c "npm install && npx directus bootstrap && npx directus start"

  navidrome:
    user: 1000:1000
    volumes:
      - ./navidrome/data:/data
      - ./navidrome/music:/music:ro