services:
  caddy:
    build:
      dockerfile: docker/caddy/Dockerfile
    image: aboulbox-caddy
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy-config:/config
      - caddy-data:/data
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /var/log/caddy:/var/log/caddy
      - ./docker/caddy/data/auth/:/etc/gatekeeper/auth
      - ./docker/caddy/data/users.json:/data/caddy/.local/users.json
    networks:
      - portfolio-net
    depends_on:
      - frontend
      - docusaurus

  frontend:
    build:
      target: install-frontend
      dockerfile: docker/frontend/Dockerfile
    image: aboulbox-frontend
    container_name: frontend
    restart: unless-stopped
    environment:
      - TZ='Europe/Paris'
    depends_on:
      - backend
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    networks:
      - portfolio-net

  backend:
    build:
      context: .
      target: build-backend
      dockerfile: docker/backend/Dockerfile
    image: aboulbox-backend
    container_name: backend
    restart: unless-stopped
    environment:
      - TZ='Europe/Paris'
    depends_on:
      - db
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - portfolio-net

  docusaurus:
    build:
      context: .
      target: install-docusaurus
      dockerfile: docker/docusaurus/Dockerfile
    image: aboulbox-docusaurus
    container_name: docusaurus
    restart: unless-stopped
    environment:
      - TZ='Europe/Paris'
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    networks:
      - portfolio-net

  umami:
    image: ghcr.io/umami-software/umami:postgresql-3.0.0 # v3.0.0
    container_name: umami
    environment:
      DATABASE_TYPE: postgresql
    restart: unless-stopped
    depends_on:
      - db
      - caddy
    labels:
      org.label-schema.group: "analytics"
    networks:
      - portfolio-net

  # dashy:
  #   image: lissy93/dashy
  #   container_name: dashy
  #   restart: unless-stopped
  #   volumes:
  #     - ./docker/dashy/user-data:/app/user-data
  #   depends_on:
  #     - caddy
  #   networks:
  #     - portfolio-net

  homepage:
    image: ghcr.io/gethomepage/homepage:v1 #v1.5.0
    container_name: homepage
    restart: unless-stopped
    volumes:
      - ./docker/homepage/config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      TZ: Europe/Paris
    networks:
      - portfolio-net

  immich:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    container_name: immich
    restart: unless-stopped
    environment:
      TZ: "Europe/Paris"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - redis
      - db
    deploy:
      resources:
        limits:
          cpus: "3.5"
          memory: 3G
        reservations:
          cpus: "2"
          memory: 2G
    networks:
      - portfolio-net

  db:
    build:
      context: .
      dockerfile: docker/pgsql/Dockerfile
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_MULTIPLE_DATABASES: "${POSTGRES_DB:-mydatabase}, umami, immich"
      POSTGRES_USER: ${POSTGRES_USER:-myuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mypassword}
      TZ: "Europe/Paris"
    ports:
      - 5432:5432
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/pgsql/init.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - portfolio-net

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - portfolio-net

volumes:
  pgdata:
  caddy-config:
  caddy-data:

networks:
  portfolio-net:
    driver: bridge
