services:
  website:
    profiles: ["build"]
    command: sh -c "npm ci && npm run build"

  backend:
    command: sh -c "npm install && node app.js"

  homepage:
    volumes:
      - ${STORAGE_BASE_PATH}:/mnt/storage

  docusaurus:
    command: sh -c "npm ci && npm run build && npm run serve -- --host 0.0.0.0 --no-open"

  immich:
    volumes:
      - ${IMMICH_UPLOAD_LOCATION}/external-library:/mnt/photos

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.1
    container_name: immich_machine_learning
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    expose:
      - "3003"
    cpus: "2"
    mem_limit: 2g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - immich-network

  navidrome:
    user: 1000:985 # should be owner of volumes

  glances:
    volumes:
      - ${STORAGE_BASE_PATH}:/ssd:ro

volumes:
  model-cache:
