services:
  caddy:
    environment:
      SERVER_NAME: ${SERVER_NAME}
      CADDY_GLOBAL_OPTIONS: |
        grace_period 10s
        default_sni ${SERVER_NAME}
    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /var/log/caddy:/var/log/caddy
      - ./docker/caddy/data/auth/:/etc/gatekeeper/auth
      - ./docker/caddy/data/users.json:/data/caddy/.local/users.json

  frontend:
    build:
      target: production
      args:
        - SERVER_NAME=${SERVER_NAME}
        - UMAMI_WEBSITE_CODE=${UMAMI_WEBSITE_CODE}
    volumes:
      - ./frontend/public/CV2025.pdf:/app/CV2025.pdf:ro

  backend:
    command: node app.js

  homepage:
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}
      - PUID=1000
      - PGID=985
      - HOMEPAGE_VAR_ICAL_URL=${HOMEPAGE_VAR_ICAL_URL}
    volumes:
      - /media/storage:/mnt/storage

  docusaurus:
    build:
      target: production
    command: npm run serve -- --host 0.0.0.0

  immich:
    env_file: ".env"
    environment:
      - UPLOAD_LOCATION:/media/storage/photos
    volumes:
      - .env:/app/.env
      - /media/storage/photos:/data
      - /media/storage/photos/external-library:/mnt/photos

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    container_name: immich_machine_learning
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    env_file: ".env"
    expose:
      - "3003"
    cpus: "2"
    cpu_percent: 50
    mem_limit: 2g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - portfolio-net

  directus:
    env_file: ".env"

  navidrome:
    user: 1000:985 # should be owner of volumes
    environment:
      - ND_LASTFM_APIKEY=${ND_LASTFM_APIKEY}
      - ND_LASTFM_SECRET=${ND_LASTFM_SECRET}
    volumes:
      - ./docker/glances/conf/glances.conf:/etc/glances/glances.conf:ro
      - /media/storage/navidrome/data:/data
      - /media/storage/navidrome/music:/music:ro

  glances:
    volumes:
      - /media/storage:/ssd:ro

volumes:
  model-cache: