services:
  caddy:
    environment:
      SERVER_NAME: ${SERVER_NAME}
      CADDY_GLOBAL_OPTIONS: |
        grace_period 10s
        default_sni ${SERVER_NAME}
    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /var/log/caddy:/var/log/caddy
      - ./docker/caddy/data/auth/:/etc/gatekeeper/auth
      - ./docker/caddy/data/users.json:/data/caddy/.local/users.json

  frontend:
    build:
      target: production
      args:
        - SERVER_NAME=${SERVER_NAME}
        - UMAMI_WEBSITE_CODE=${UMAMI_WEBSITE_CODE}
    volumes:
      - ./frontend/public/CV2025.pdf:/app/CV2025.pdf:ro

  backend:
    command: node app.js

  umami:
    environment:
      - DATABASE_URL=${DATABASE_URL}

  homepage:
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}
      - PUID=1000
      - PGID=985
      - HOMEPAGE_VAR_ICAL_URL=${HOMEPAGE_VAR_ICAL_URL}
    volumes:
      - /media/storage:/mnt/storage

  docusaurus:
    build:
      target: production
    command: npm run serve -- --host 0.0.0.0

  immich:
    env_file: ".env.prod"
    environment:
      - UPLOAD_LOCATION:/media/storage/photos
    volumes:
      - .env.prod:/app/.env
      - /media/storage/photos:/data
      - /media/storage/photos/external-library:/mnt/photos

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    container_name: immich_machine_learning
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    env_file: ".env.prod"
    expose:
      - "3003"
    cpus: "2"
    cpu_percent: 50
    mem_limit: 2g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - portfolio-net

  directus:
    env_file: ".env.prod"

  navidrome:
    user: 1000:985 # should be owner of volumes
    environment:
      - ND_LASTFM_APIKEY=${ND_LASTFM_APIKEY}
      - ND_LASTFM_SECRET=${ND_LASTFM_SECRET}
    volumes:
      - ./docker/glances/conf/glances.conf:/etc/glances/glances.conf:ro
      - /media/storage/navidrome/data:/data
      - /media/storage/navidrome/music:/music:ro

  periphery:
    image: ghcr.io/moghtech/komodo-periphery:${COMPOSE_KOMODO_IMAGE_TAG:-latest}
    container_name: periphery
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    restart: unless-stopped
    ## https://komo.do/docs/connect-servers#configuration
    environment:
      PERIPHERY_ROOT_DIRECTORY: /media/storage/komodo
      PERIPHERY_PASSKEYS: ${PERIPHERY_PASSKEYS}
      PERIPHERY_SSL_ENABLED: true
      PERIPHERY_DISABLE_TERMINALS: false
      PERIPHERY_INCLUDE_DISK_MOUNTS: /etc/hostname
      PERIPHERY_STACK_DIR: /home/aboulbox/www/aboulbox.com
      PERIPHERY_ALLOWED_IPS: "[90.1.168.15]"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}:${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
      - /home/aboulbox/www/aboulbox.com:/home/aboulbox/www/aboulbox.com
    ports:
      - 8120:8120
    networks:
      - portfolio-net

  glances:
    volumes:
      - /media/storage:/ssd:ro

volumes:
  model-cache: