services:
  caddy:
    environment:
      SERVER_NAME: ${SERVER_NAME}
      CADDY_GLOBAL_OPTIONS: |
        grace_period 10s
        default_sni ${SERVER_NAME}

  frontend:
    build:
      target: production
      args:
        - SERVER_NAME=${SERVER_NAME}
        - UMAMI_WEBSITE_CODE=${UMAMI_WEBSITE_CODE}

  backend:
    command: node app.js

  umami:
    environment:
      - DATABASE_URL=${DATABASE_URL}

  homepage:
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}
      - PUID=1000
      - PGID=985
    volumes:
      - /media/storage:/mnt/storage

  docusaurus:
    build:
      target: production
    command: npm run serve -- --host 0.0.0.0

  immich:
    env_file: ".env.prod"
    environment:
      - UPLOAD_LOCATION:/media/storage/photos
    volumes:
      - .env.prod:/app/.env
      - /media/storage/photos:/data
      - /media/storage/photos/external-library:/mnt/photos

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    container_name: immich_machine_learning
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    env_file: ".env.prod"
    expose:
      - "3003"
    cpus: "2"
    cpu_percent: 50
    mem_limit: 2g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - portfolio-net

  directus:
    env_file: ".env.prod"

  navidrome:
    user: 1000:985 # should be owner of volumes
    volumes:
      - navidrome_data:/data
      - ./navidrome/music:/music:ro

volumes:
  navidrome_data: