services:
  caddy:
    environment:
      SERVER_NAME: ${SERVER_NAME}
      CADDY_GLOBAL_OPTIONS: |
        grace_period 10s
        default_sni ${SERVER_NAME}
  frontend:
    build:
      target: production
      args:
        - SERVER_NAME=${SERVER_NAME}
        - UMAMI_WEBSITE_CODE=${UMAMI_WEBSITE_CODE}
  backend:
    environment:
      - MAILGUN_APIKEY=${MAILGUN_APIKEY}
      - MAILGUN_DOMAIN=${MAILGUN_DOMAIN}
      - MAILGUN_FROM_WHO=${MAILGUN_FROM_WHO}
      - MAILGUN_TO_WHO_NAME=${MAILGUN_TO_WHO_NAME}
      - MAILGUN_TO_WHO=${MAILGUN_TO_WHO}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - ALTCHA_HMAC_KEY=${ALTCHA_HMAC_KEY}
      - SERVER_NAME=${SERVER_NAME}
    command: node app.js
  umami:
    environment:
      - DATABASE_URL=${DATABASE_URL}
  homepage:
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}
      - PUID=1000
      - PGID=985
    volumes:
      - /media/storage:/mnt/storage
    build:
      target: production
    command: npm run serve -- --host 0.0.0.0
  immich:
    env_file: ".env.prod"
    environment:
      - UPLOAD_LOCATION:/media/storage
    volumes:
      - .env.prod:/app/.env
      - /media/storage:/data
