services:
  caddy:
    build:
      dockerfile: docker/caddy/Dockerfile
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy-config:/config
      - caddy-data:/data
    networks:
      - proxy-network

  frontend:
    build:
      target: install-frontend
      dockerfile: docker/frontend/Dockerfile
      args:
        SERVER_NAME: ${SERVER_NAME}
        UMAMI_WEBSITE_CODE: ${UMAMI_WEBSITE_CODE}
    container_name: frontend
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    volumes:
      - .env:/app/.env
      - ./frontend:/app
      - /app/node_modules
      - /app/dist
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    networks:
      - proxy-network

  backend:
    build:
      context: .
      target: build-backend
      dockerfile: docker/backend/Dockerfile
    container_name: backend
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      MAILGUN_APIKEY: ${MAILGUN_APIKEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN}
      MAILGUN_FROM_WHO: ${MAILGUN_FROM_WHO}
      MAILGUN_TO_WHO_NAME: ${MAILGUN_TO_WHO_NAME}
      MAILGUN_TO_WHO: ${MAILGUN_TO_WHO}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      ALTCHA_HMAC_KEY: ${ALTCHA_HMAC_KEY}
      SERVER_NAME: ${SERVER_NAME}
    depends_on:
      - db
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - proxy-network
      - database-network

  docusaurus:
    build:
      context: .
      dockerfile: docker/docusaurus/Dockerfile
    container_name: docusaurus
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    networks:
      - proxy-network

  umami:
    image: ghcr.io/umami-software/umami:postgresql-3.0.0 # v3.0.0
    container_name: umami
    environment:
      DATABASE_TYPE: postgresql
      DATABASE_URL: ${DATABASE_URL}
    restart: unless-stopped
    depends_on:
      - db
      - caddy
    labels:
      org.label-schema.group: "analytics"
    networks:
      - proxy-network
      - database-network

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.9.0 #v1.8.0
    container_name: homepage
    restart: unless-stopped
    volumes:
      - ./docker/homepage/config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/homepage/images:/app/public/images
    environment:
      TZ: ${TZ}
      PUID: ${HOMEPAGE_PUID}
      PGID: ${HOMEPAGE_PGID}
      HOMEPAGE_ALLOWED_HOSTS: ${HOMEPAGE_ALLOWED_HOSTS}
      HOMEPAGE_VAR_ICAL_URL: ${HOMEPAGE_VAR_ICAL_URL}
    networks:
      - proxy-network

  immich:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    container_name: immich
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      UPLOAD_LOCATION: ${IMMICH_UPLOAD_LOCATION}
      DB_DATA_LOCATION: ${IMMICH_DB_DATA_LOCATION}
      DB_HOSTNAME: ${IMMICH_DB_HOSTNAME}
      DB_PASSWORD: ${IMMICH_DB_PASSWORD}
      DB_USERNAME: ${IMMICH_DB_USERNAME}
      DB_DATABASE_NAME: ${IMMICH_DB_DATABASE_NAME}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${IMMICH_UPLOAD_LOCATION}:/data
    depends_on:
      - redis
      - db
    cpus: "2"
    mem_limit: 1.75g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1.75g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - proxy-network
      - database-network
      - immich-network
      
  db:
    build:
      context: .
      dockerfile: docker/pgsql/Dockerfile
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_MULTIPLE_DATABASES: "${POSTGRES_DB:-mydatabase}, umami, immich, audiomusedb"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    ports:
      - 5432:5432
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/pgsql/init.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - database-network
      

  redis:
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    container_name: immich_redis
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - immich-network

  directus:
    image: directus/directus:11
    container_name: directus
    restart: unless-stopped
    environment:
      KEY: ${DIRECTUS_KEY}
      SECRET: ${DIRECTUS_SECRET}
      ADMIN_EMAIL: ${DIRECTUS_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${DIRECTUS_ADMIN_PASSWORD}
      DB_CLIENT: "pg"
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_DATABASE: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      WEBSOCKETS_ENABLED: "true"
      CORS_ENABLED: "true"
    depends_on:
      - db
    networks:
      - proxy-network
      - database-network

  navidrome:
    image: deluan/navidrome:0.59.0
    container_name: navidrome
    restart: unless-stopped
    expose:
      - "4533"
    environment:
      - ND_LASTFM_APIKEY=${ND_LASTFM_APIKEY}
      - ND_LASTFM_SECRET=${ND_LASTFM_SECRET}
    volumes:
      - ${ND_STORAGE_DATA}:/data
      - ${ND_STORAGE_MUSIC}:/music:ro
    networks:
      - proxy-network

  glances:
    image: nicolargo/glances:4.4.1
    container_name: glances
    restart: unless-stopped
    pid: host
    expose:
      - "61208"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/os-release:/etc/os-release:ro
      - /:/rootfs:ro
    environment:
      - "GLANCES_OPT=-w"
      - TZ=${TZ}
    networks:
      - proxy-network

volumes:
  pgdata:
  caddy-config:
  caddy-data:

networks:
  proxy-network:
    driver: bridge
  database-network:
    driver: bridge
  immich-network:
    driver: bridge
