services:
  caddy:
    environment:
      SERVER_NAME: ${SERVER_NAME}
      CADDY_GLOBAL_OPTIONS: |
        grace_period 10s
        default_sni ${SERVER_NAME}
    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /var/log/caddy:/var/log/caddy
      - ./docker/caddy/data/auth/:/etc/gatekeeper/auth
      - ./docker/caddy/data/users.json:/data/caddy/.local/users.json

  frontend:
    build:
      target: production
      args:
        SERVER_NAME: ${SERVER_NAME}
        UMAMI_WEBSITE_CODE: ${UMAMI_WEBSITE_CODE}
    volumes:
      - ./frontend/public/CV2025.pdf:/app/CV2025.pdf:ro

  backend:
    command: node app.js

  homepage:
    volumes:
      - ${STORAGE_BASE_PATH}:/mnt/storage

  docusaurus:
    build:
      target: production
    command: npm run serve -- --host 0.0.0.0

  immich:
    volumes:
      - ${IMMICH_UPLOAD_LOCATION}/external-library:/mnt/photos

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    container_name: immich_machine_learning
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    expose:
      - "3003"
    cpus: "2"
    cpu_percent: 50
    mem_limit: 2g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - portfolio-net

  navidrome:
    user: 1000:985 # should be owner of volumes

  glances:
    volumes:
      - ${STORAGE_BASE_PATH}:/ssd:ro

volumes:
  model-cache: