services:
  website:
    image: node:lts-alpine
    container_name: website
    working_dir: /app
    volumes:
      - .env:/app/.env
      - ./website:/app
      - aboulbox-dist:/app/dest:rw

  backend:
    build:
      context: .
      target: build-backend
      dockerfile: docker/backend/Dockerfile
    container_name: backend
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      MAILGUN_APIKEY: ${MAILGUN_APIKEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN}
      MAILGUN_FROM_WHO: ${MAILGUN_FROM_WHO}
      MAILGUN_TO_WHO_NAME: ${MAILGUN_TO_WHO_NAME}
      MAILGUN_TO_WHO: ${MAILGUN_TO_WHO}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      ALTCHA_HMAC_KEY: ${ALTCHA_HMAC_KEY}
      SERVER_NAME: ${SERVER_NAME}
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - proxy-network
      - database-network

  docusaurus:
    image: node:20-alpine
    container_name: docusaurus
    working_dir: /app
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    volumes:
    - ./docusaurus/wiki:/app
    networks:
      - proxy-network

  umami:
    image: ghcr.io/umami-software/umami:3.0.3 # v3.0.0
    container_name: umami
    environment:
      DATABASE_TYPE: postgresql
      DATABASE_URL: ${DATABASE_URL}
    restart: unless-stopped
    depends_on:
      - db
    labels:
      org.label-schema.group: "analytics"
    networks:
      - proxy-network
      - database-network

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.9.0 #v1.9.0
    container_name: homepage
    restart: unless-stopped
    volumes:
      - ./docker/homepage/config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/homepage/images:/app/public/images
    environment:
      TZ: ${TZ}
      PUID: ${HOMEPAGE_PUID}
      PGID: ${HOMEPAGE_PGID}
      HOMEPAGE_ALLOWED_HOSTS: ${HOMEPAGE_ALLOWED_HOSTS}
      HOMEPAGE_VAR_ICAL_URL: ${HOMEPAGE_VAR_ICAL_URL}
    networks:
      - proxy-network

  immich:
    image: ghcr.io/immich-app/immich-server:v2.4.1
    container_name: immich
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      UPLOAD_LOCATION: ${IMMICH_UPLOAD_LOCATION}
      DB_DATA_LOCATION: ${IMMICH_DB_DATA_LOCATION}
      DB_HOSTNAME: ${IMMICH_DB_HOSTNAME}
      DB_PASSWORD: ${IMMICH_DB_PASSWORD}
      DB_USERNAME: ${IMMICH_DB_USERNAME}
      DB_DATABASE_NAME: ${IMMICH_DB_DATABASE_NAME}
      # OIDC CONFIG
      OAUTH_ENABLED: "true"
      OAUTH_ISSUER_URL: "https://auth.${SERVER_NAME}"
      OAUTH_CLIENT_ID: "NxNIVcjmRUqBJPrzXvoIAlKK_OPhqSG9bkWBvIL3z3pdRe4jmnl4hFrpo7X77X35aeyHH39V"
      OAUTH_CLIENT_SECRET: "${AUTH_OPENID_IMMICH_CLIENT_SECRET}"
      OAUTH_REDIRECT_URI: "https://photo.${SERVER_NAME}/auth/login"
      OAUTH_TOKEN_ENDPOINT_AUTH_METHOD: client_secret_post
      OAUTH_SCOPE: "openid profile email" 
      OAUTH_TOKEN_RESPONSE_ALG: "RS256"
      OAUTH_USERINFO_SIGNED_RESPONSE_ALG: "none"
      OAUTH_BUTTON_TEXT: ${AUTH_OPENID_LABEL}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${IMMICH_UPLOAD_LOCATION}:/data
    depends_on:
      - redis
      - db
    cpus: "2"
    mem_limit: 1.75g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1.75g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - proxy-network
      - database-network
      - immich-network

  db:
    image: ghcr.io/immich-app/postgres:16-vectorchord0.5.3-pgvector0.8.1
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_MULTIPLE_DATABASES: "${POSTGRES_DB:-mydatabase}, umami, immich, audiomusedb"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/pgsql/init.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - database-network

  redis:
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    container_name: immich_redis
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - immich-network

  directus:
    image: directus/directus:11
    container_name: directus
    restart: unless-stopped
    environment:
      PUBLIC_URL: "https://admin.${SERVER_NAME}"
      KEY: ${DIRECTUS_KEY}
      SECRET: ${DIRECTUS_SECRET}
      ADMIN_EMAIL: ${DIRECTUS_ADMIN_EMAIL}
      ADMIN_PASSWORD: ${DIRECTUS_ADMIN_PASSWORD}
      DB_CLIENT: "pg"
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_DATABASE: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      WEBSOCKETS_ENABLED: "true"
      CORS_ENABLED: "true"
      AUTH_DISABLE_DEFAULT: "true"
      AUTH_PROVIDERS: openid
      AUTH_OPENID_DRIVER: "openid"
      AUTH_OPENID_CLIENT_ID: "5olbxXnqnqnWnGVumu3~-2qYkz4EOQgYz6vpeD2KjqTDsani.fGj4~qelj1GYIIX1uJsfj.H"
      AUTH_OPENID_CLIENT_SECRET: "${AUTH_OPENID_DIRECTUS_CLIENT_SECRET}"
      AUTH_OPENID_ISSUER_URL: https://auth.${SERVER_NAME}
      AUTH_OPENID_IDENTIFIER_KEY: "email"
      AUTH_OPENID_SCOPE: "openid profile email"
      AUTH_OPENID_ICON: "openid"
      AUTH_OPENID_LABEL: ${AUTH_OPENID_LABEL}
    depends_on:
      - db
    networks:
      - proxy-network
      - database-network

  navidrome:
    image: deluan/navidrome:0.59.0
    container_name: navidrome
    restart: unless-stopped
    environment:
      - ND_LASTFM_APIKEY=${ND_LASTFM_APIKEY}
      - ND_LASTFM_SECRET=${ND_LASTFM_SECRET}
      - ND_EXTAUTH_TRUSTEDSOURCES=${ND_EXTAUTH_TRUSTEDSOURCES}
    volumes:
      - ${ND_STORAGE_DATA}:/data
      - ${ND_STORAGE_MUSIC}:/music:ro
    networks:
      - proxy-network

  glances:
    image: nicolargo/glances:4.4.1
    container_name: glances
    restart: unless-stopped
    pid: host
    expose:
      - "61208"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/os-release:/etc/os-release:ro
      - /:/rootfs:ro
    environment:
      - "GLANCES_OPT=-w"
      - TZ=${TZ}
    networks:
      - proxy-network

volumes:
  pgdata:
  aboulbox-dist:
    external: true

networks:
  proxy-network:
    external: true
    driver: bridge
    name: caddy_proxy-network
  database-network:
    driver: bridge
  immich-network:
    driver: bridge
