services:
  backend:
    build:
      context: .
      target: build-backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      MAILGUN_APIKEY: ${MAILGUN_APIKEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN}
      MAILGUN_FROM_WHO: ${MAILGUN_FROM_WHO}
      MAILGUN_TO_WHO_NAME: ${MAILGUN_TO_WHO_NAME}
      MAILGUN_TO_WHO: ${MAILGUN_TO_WHO}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      ALTCHA_HMAC_KEY: ${ALTCHA_HMAC_KEY}
      SERVER_NAME: ${SERVER_NAME}
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - proxy-network
      - database-network

networks:
  proxy-network:
    external: true
    driver: bridge
    name: caddy_proxy-network
  database-network:
    external: true
    driver: bridge
    name: aboulbox_database-network
