{
	{$CADDY_GLOBAL_OPTIONS}
	admin 0.0.0.0:2019
	order authenticate before respond
	order authorize before reverse_proxy

	# Auth module configuration
	security {
		local identity store localdb {
			realm local
			path /data/caddy/.local/users.json
		}

		authentication portal myportal {
			enable identity store localdb
			crypto default token lifetime 86400
			cookie lifetime 86400
			crypto key verify from file /etc/gatekeeper/auth/jwt/sign_key.pem

			ui {
				links {
					"Dashboard" https://home.{$SERVER_NAME} icon "las la-address-card"
					"Admin" https://admin.{$SERVER_NAME} icon "las la-table"
					"Wiki" https://wiki.{$SERVER_NAME} icon "las la-question"
					"Umami" https://umami.{$SERVER_NAME} icon "las la-chart-pie"
					"My Identity" "/whoami" icon "las la-user"
				}
			}
		}

		authorization policy users_policy {
			set auth url https://auth.{$SERVER_NAME}
			bypass uri exact /api/send
			bypass uri prefix /script.js

			# Verify signed key
			crypto key sign-verify from file /etc/gatekeeper/auth/jwt/verify_key.pem

			## Inject header to downstream
			inject headers with claims
			inject header "X-JWT-Assertion" from {http.request.cookie.access_token}
			allow roles authp/admin authp/user
		}
	}
}

# Main logging configuration
(main) {
	log_skip /assets*
	log {
		output file /var/log/caddy/access.json {
			roll_size 10mb
			roll_keep_for 720h
		}
		format json {
			time_format wall
		}
	}
}

# Fail2Ban logging
(fail2ban-logging) {
	log {
		output file /var/log/caddy/fail2ban.log {
			roll_size 5mb
			roll_keep 10
			roll_keep_for 720h
		}
		format transform "{common_log}"
	}
}

# Static caching for 5 days
(static) {
	@static {
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json *.tsx
	}
	header @static ?Cache-Control "public, max-age=432000, must-revalidate"
}

# Disable robots.txt
(no-robots) {
	handle /robots.txt {
		respond 200 {
			body "User-agent: *
			Disallow: /

			User-agent: AdsBot-Google
			Disallow: /

			User-agent: AdsBot-Google-Mobile
			Disallow: /"
			close
		}
	}
}

# Security headers
(security) {
	header {
		# enable HSTS
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff
		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()
		# Enable cross-site filter (XSS)
		# and tell browser to block detected attacks
		#Content-Security-Policy "default-src 'self' *.{$SERVER_NAME}; style-src 'self'; script-src 'self' *.{$SERVER_NAME}; font-src 'self'; img-src 'self'; form-action 'self'; connect-src 'self'; frame-ancestors 'none';"
		# prevent clickjacking
		X-Frame-Options: DENY
	}
}

https://{$SERVER_NAME:localhost} {
	import main
	import security
	import static
	import fail2ban-logging aboulbox
	encode zstd gzip

	# Handle API requests
	handle /api* {
		import security
		reverse_proxy backend:3001
	}

	@not_excluded {
		not path *.* /@*
	}

	@not_404 {
		not path /404 /
	}

	@404 {
		path /404
	}

	handle @not_excluded {
		handle @not_404 {
			redir @not_404 /404
		}

		reverse_proxy @404 frontend:8080 {
			replace_status 404
		}
	}

	reverse_proxy frontend:8080
}

https://auth.{$SERVER_NAME} {
	import fail2ban-logging auth
	import no-robots
	authenticate with myportal
}

https://umami.{$SERVER_NAME} {
	import main
	import fail2ban-logging umami
	import no-robots
	authorize with users_policy
	reverse_proxy umami:3000
}

https://home.{$SERVER_NAME:} {
	import main
	import fail2ban-logging home
	import no-robots
	authorize with users_policy
	reverse_proxy homepage:3000
}

https://wiki.{$SERVER_NAME} {
	import main
	import fail2ban-logging wiki
	import no-robots
	reverse_proxy docusaurus:3000
}

https://photo.{$SERVER_NAME} {
	import main
	import fail2ban-logging photo
	import no-robots
	reverse_proxy immich:2283
}

https://admin.{$SERVER_NAME} {
	import main
	import fail2ban-logging admin
	import no-robots
	authorize with users_policy
	reverse_proxy directus:8055
}

https://music.{$SERVER_NAME:localhost} {
	import main
	import fail2ban-logging music
	import no-robots
	reverse_proxy navidrome:4533
}

https://monitor.{$SERVER_NAME} {
	import main
	import fail2ban-logging monitor
	import no-robots
	authorize with users_policy
	reverse_proxy glances:61208
}

https://agent.{$SERVER_NAME} {
	import main
	import fail2ban-logging agent
	import no-robots
	reverse_proxy periphery:8120
}

https://ci.{$SERVER_NAME} {
	reverse_proxy 192.168.1.19:9120
}
