services:
  navidrome:
    image: deluan/navidrome:0.59.0
    container_name: navidrome
    restart: unless-stopped
    environment:
      - ND_LASTFM_APIKEY=${ND_LASTFM_APIKEY}
      - ND_LASTFM_SECRET=${ND_LASTFM_SECRET}
      - ND_EXTAUTH_TRUSTEDSOURCES=${ND_EXTAUTH_TRUSTEDSOURCES}
    volumes:
      - ${ND_STORAGE_MUSIC}:/music:ro
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true
    driver: bridge
    name: caddy_proxy-network
