services:
  immich:
    volumes:
      - ${IMMICH_UPLOAD_LOCATION}/external-library:/mnt/photos

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.5
    container_name: immich_machine_learning
    restart: unless-stopped
    volumes:
      - model-cache:/cache
    expose:
      - "3003"
    cpus: "2"
    mem_limit: 2g
    mem_reservation: 1.5g
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
        reservations:
          cpus: "2"
          memory: 1.5g
    networks:
      - immich-network

volumes:
  model-cache:
