{
	{$CADDY_GLOBAL_OPTIONS}

	admin 0.0.0.0:2019

	log {
		level INFO
		output file /var/log/caddy/access.json {
			roll_size 10mb
			roll_keep 20
			roll_keep_for 720h
		}
		format json {
			time_format wall
		}
	}
}

# Fail2Ban logging
(fail2ban-logging) {
	log {
		output file /var/log/caddy/fail2ban.log {
			roll_size 5mb
			roll_keep 10
			roll_keep_for 720h
		}
		format transform "{common_log}"
	}
}

# Static caching for 5 days
(static) {
	log_skip /assets*
	@static {
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json *.tsx
	}
	header @static ?Cache-Control "public, max-age=432000, must-revalidate"
}

# Disable robots.txt
(no-robots) {
	handle /robots.txt {
		respond 200 {
			body "User-agent: *
			Disallow: /

			User-agent: AdsBot-Google
			Disallow: /

			User-agent: AdsBot-Google-Mobile
			Disallow: /"
			close
		}
	}
}

# Security headers
(security) {
	header {
		# enable HSTS
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff
		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()
		# Enable cross-site filter (XSS)
		# and tell browser to block detected attacks
		#Content-Security-Policy "default-src 'self' *.{$SERVER_NAME}; style-src 'self'; script-src 'self' *.{$SERVER_NAME}; font-src 'self'; img-src 'self'; form-action 'self'; connect-src 'self'; frame-ancestors 'none';"
		# prevent clickjacking
		X-Frame-Options: DENY
	}
}

(authelia-auth) {
	forward_auth {args[0]} authelia:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

https://auth.{$SERVER_NAME} {
	import fail2ban-logging auth
	import no-robots

	reverse_proxy authelia:9091
}

https://v1.{$SERVER_NAME} {
	import security
	import static
	import fail2ban-logging aboulbox
	encode zstd gzip

	# Handle API requests
	handle /api* {
		reverse_proxy backend:3001
	}

	@not_excluded {
		not path *.* /@*
	}

	@not_404 {
		not path /404 /
	}

	@404 {
		path /404
	}

	handle @not_excluded {
		handle @not_404 {
			redir @not_404 /404
		}

		reverse_proxy @404 frontend:3000 {
			replace_status 404
		}
	}

	reverse_proxy frontend:3000
}

https://{$SERVER_NAME} {
	import security
	import static
	import fail2ban-logging aboulbox
	encode zstd gzip

	# Handle API requests
	handle /api* {
		reverse_proxy backend:3001
	}

	root * /srv/site/current
	try_files {path} {path}.html

	handle /404* {
		root * /srv/site/current
		file_server {
			status 404
		}
	}

	handle {
		file_server {
			hide .*
		}
	}

	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		rewrite @404 /404.html
		file_server
	}
}

https://umami.{$SERVER_NAME} {
	@needAuth not {
		path /script.js /api/send
	}
	import authelia-auth @needAuth
	import fail2ban-logging umami
	import no-robots
	reverse_proxy umami:3000
}

https://home.{$SERVER_NAME} {
	import authelia-auth *
	import fail2ban-logging home
	reverse_proxy homepage:3000
}

https://wiki.{$SERVER_NAME} {
	import authelia-auth *
	import fail2ban-logging wiki
	reverse_proxy docusaurus:3000
}

https://photo.{$SERVER_NAME} {
	import fail2ban-logging photo
	import no-robots
	reverse_proxy immich:2283
}

https://admin.{$SERVER_NAME} {
	import authelia-auth *
	import fail2ban-logging admin
	import no-robots
	reverse_proxy directus:8055
}

https://music.{$SERVER_NAME} {
	@needAuth not {
		path /rest/*
	}
	import authelia-auth @needAuth
	import fail2ban-logging music
	import no-robots
	reverse_proxy navidrome:4533
}

https://monitor.{$SERVER_NAME} {
	import authelia-auth *
	import fail2ban-logging monitor
	import no-robots
	reverse_proxy glances:61208
}

https://agent.{$SERVER_NAME} {
	import fail2ban-logging agent
	import no-robots
	reverse_proxy periphery:8120
}

https://ci.{$SERVER_NAME} {
	reverse_proxy 192.168.1.19:9120
}
