services:
  umami:
    image: ghcr.io/umami-software/umami:3.0.3 # v3.0.0
    container_name: umami
    environment:
      TZ: ${TZ}
      DATABASE_TYPE: postgresql
      DATABASE_URL: ${DATABASE_URL}
    restart: unless-stopped
    labels:
      org.label-schema.group: "analytics"
    networks:
      - proxy-network
      - database-network

networks:
  proxy-network:
    external: true
    driver: bridge
    name: caddy_proxy-network
  database-network:
    external: true
    driver: bridge
    name: aboulbox_database-network
