name: Reload website containers
on: [workflow_dispatch]
jobs:
  reload:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Aboul server via SSH action
        env:
          SERVER_NAME: ${{ secrets.SERVER_NAME }}
          MAILGUN_APIKEY: ${{ secrets.MAILGUN_APIKEY }}
          MAILGUN_DOMAIN: ${{ secrets.MAILGUN_DOMAIN }}
          MAILGUN_FROM_WHO: ${{ secrets.MAILGUN_FROM_WHO }}
          MAILGUN_TO_WHO_NAME: ${{ secrets.MAILGUN_TO_WHO_NAME }}
          MAILGUN_TO_WHO: ${{ secrets.MAILGUN_TO_WHO }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
          ALTCHA_HMAC_KEY: ${{ secrets.ALTCHA_HMAC_KEY }}
          UMAMI_WEBSITE_CODE: ${{ vars.UMAMI_WEBSITE_CODE }}
          CADDY_SIGN_KEY: ${{ secrets.CADDY_SIGN_KEY }}
          CADDY_VERIFY_KEY: ${{ secrets.CADDY_VERIFY_KEY }}
          CADDY_USERS: ${{ secrets.CADDY_USERS }}
          DIRECTUS_KEY: ${{ secrets.DIRECTUS_KEY }}
          DIRECTUS_SECRET: ${{ secrets.DIRECTUS_SECRET }}
          DIRECTUS_ADMIN_EMAIL: ${{ secrets.DIRECTUS_ADMIN_EMAIL }}
          DIRECTUS_ADMIN_PASSWORD: ${{ secrets.DIRECTUS_ADMIN_PASSWORD }}
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.RASP_HOST }}
          username: ${{ secrets.RASP_USERNAME }}
          key: ${{ secrets.RASP_SSH_KEY }}
          command_timeout: 10m
          envs: SERVER_NAME,MAILGUN_APIKEY,MAILGUN_DOMAIN,MAILGUN_FROM_WHO,MAILGUN_TO_WHO_NAME,MAILGUN_TO_WHO,POSTGRES_USER,POSTGRES_HOST,POSTGRES_DB,POSTGRES_PASSWORD,POSTGRES_PORT,ALTCHA_HMAC_KEY,UMAMI_WEBSITE_CODE,CADDY_SIGN_KEY,CADDY_VERIFY_KEY,CADDY_USERS,DIRECTUS_KEY,DIRECTUS_SECRET,DIRECTUS_ADMIN_EMAIL,DIRECTUS_ADMIN_PASSWORD
          script: |
            set -e
            cd /home/aboulbox/www/aboulbox.com
            export SERVER_NAME=$SERVER_NAME
            export MAILGUN_APIKEY=$MAILGUN_APIKEY
            export MAILGUN_DOMAIN=$MAILGUN_DOMAIN
            export MAILGUN_FROM_WHO=$MAILGUN_FROM_WHO
            export MAILGUN_TO_WHO_NAME=$MAILGUN_TO_WHO_NAME
            export MAILGUN_TO_WHO=$MAILGUN_TO_WHO
            export POSTGRES_USER=$POSTGRES_USER
            export POSTGRES_HOST=$POSTGRES_HOST
            export POSTGRES_DB=$POSTGRES_DB
            export POSTGRES_PASSWORD=$POSTGRES_PASSWORD
            export POSTGRES_PORT=$POSTGRES_PORT
            export ALTCHA_HMAC_KEY=$ALTCHA_HMAC_KEY
            export DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/umami"
            export UMAMI_WEBSITE_CODE=$UMAMI_WEBSITE_CODE
            export HOMEPAGE_ALLOWED_HOSTS="home.$SERVER_NAME"
            export DB_HOSTNAME="db"
            export DB_PASSWORD=$POSTGRES_PASSWORD
            export DB_USERNAME=$POSTGRES_USER
            export DB_DATABASE_NAME="immich"
            export DIRECTUS_KEY=$DIRECTUS_KEY
            export DIRECTUS_SECRET=$DIRECTUS_SECRET
            export DIRECTUS_ADMIN_EMAIL=$DIRECTUS_ADMIN_EMAIL
            export DIRECTUS_ADMIN_PASSWORD=$DIRECTUS_ADMIN_PASSWORD
            make restart-prod
