name: Deploy Changed Services

on:
  push:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      # Expose matched filters as job 'packages' output variable
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: .github/komodo_stacks_filters.yml
  deploy:
    runs-on: ubuntu-latest
    needs: changes
    strategy: 
      matrix:
        services: ${{ fromJSON(needs.changes.outputs.services) }}
    steps:
      - name: Deploy Changed Stack with Komodo
        if: ${{ needs.changes.outputs.services }}
        uses: aboul/komodo-actions@v1
        with:
          komodo-url: ${{ secrets.KOMODO_URL }}
          api-key: ${{ secrets.KOMODO_API_KEY }}
          api-secret: ${{ secrets.KOMODO_API_SECRET }}
          kind: 'stack'
          patterns: ${{ matrix.services }}
